/** @format */

/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

ul,
li {
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BODY */
body {
  cursor: pointer;
}
.mainWrapper {
  margin: 0 auto;
}
/* COURSES PAGE  CSS */

.mainContent {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.formArea {
  width: 40%;
  margin: 0 auto;
  max-width: 450px;
}

.coursesArea {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  flex-wrap: nowrap;
  align-self: center;
  align-items: center;
}

.course {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(39, 5, 27, 0.4) 5px 5px, rgba(58, 23, 45, 0.3) 10px 10px,
    rgba(39, 16, 31, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  border-radius: 10px;
  width: 90%;
  height: 300px;
}
.course:first-of-type {
  margin-top: 50px;
}

.details {
  padding: 10px;
  background-color: rgb(167, 163, 192);
  color: black;
  min-height: 60px;
}
.course img {
  width: 100%;
  height: width;
}

.course a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.App {
  text-align: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  background-color: darkslateblue;
  color: white;
  padding: 20px;
  text-transform: capitalize;
}

.header a {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  text-transform: capitalize;
}

.footer {
  padding-left: 20px;
  padding-right: 20px;
  background-color: darkslateblue;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.createCourse {
  display: flex;
  align-items: center;
  width: 250px;
  background-color: mediumpurple;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 50px;
  color: white;
  text-decoration: none;
}

/* COURSE DETAILS  */
.detailsWrapper {
  width: 100%;
  padding: 5%;
  margin: 0 auto;
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: space-around;
  justify-content: left;
  width: 100%;
  margin-bottom: 35px;
}
.actions a {
  text-decoration: none;
  background-color: rgb(119, 108, 185);
  color: white;
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 550;
}

.headline {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 32px;
  padding: 10px;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

.courseHeading {
  border-bottom: 1px solid rgb(119, 108, 185);
  width: 90%;
  margin-bottom: 15px;
  font-weight: 900;
}

.courseTitle {
  font-weight: 900;
  margin-bottom: 10px;
}

.aboutCourse h4,
p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.time {
  margin-bottom: 20px;
}

.time h1 {
  border-bottom: 1px solid rgb(119, 108, 185);
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background: #614385;
  background: -webkit-linear-gradient(to right, #516395, #614385);
  background: linear-gradient(to right, #516395, #614385);
}

.materialsNeeded h1 {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background: #614385;
  background: -webkit-linear-gradient(to bottom, #516395, #614385);
  background: linear-gradient(to bottom, #516395, #614385);
}
.time {
  margin-bottom: 20px;
}

.time h1 {
  border-bottom: 1px solid rgb(119, 108, 185);
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background: #614385;
  background: -webkit-linear-gradient(to right, #516395, #614385);
  background: linear-gradient(to right, #516395, #614385);
}

/* DELETE CSS */
.delete {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  text-align: center;
}

.delete h1 {
  margin-bottom: 30px;
}

.delete button {
  width: 150px;
  margin-right: 20px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
}

.delete button:first-of-type {
  background: rgb(119, 108, 185);
  color: white;
}

/* COURSE UPDATE */
.updateFormWrapper .info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px;
}

.updateFormWrapper .info h1 {
  color: white;
  background: #614385;
  background: -webkit-linear-gradient(to bottom, #516395, #614385);
  background: linear-gradient(to bottom, #516395, #614385);
  padding: 10px;
  border-radius: 5px;
}

.updateFormWrapper .info label {
  margin-top: 20px;
  margin-bottom: 5px;
}

.updateFormWrapper {
  margin-bottom: 100px;
}

.updateFormWrapper .button {
  width: 150px;
  height: 40px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}
.updateFormWrapper .btns {
  margin: 0 auto;
  width: 200px;
}

.updateFormWrapper .button:first-of-type {
  background-color: rgb(119, 108, 185);
  color: white;
}

/* CREATE COURSE CSS */
.form .formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.createCourseWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.formWrapper .btns {
  width: 200px;
  margin: 0 auto;
}

.formWrapper .btns .button {
  width: 150px;
  margin-top: 10px;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}

.formWrapper .btns .button:first-of-type {
  background-color: rgb(119, 108, 185);
  color: white;
}

.formWrapper label {
  font-weight: 520;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
}

/* ERRORS CSS */

.errors {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  color: crimson;
  font-weight: 600;
  text-transform: capitalize;
}

.errors h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.errors li {
  list-style-type: disc;
}
/* TABLET MEDIA QUERY */

@media screen and (min-width: 768px) {
  .mainContent {
    display: flex;
    flex-direction: column;
  }

  .header {
    justify-content: space-between;
    font-size: 20px;
  }

  .header a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .coursesArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }

  .course {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .course:first-of-type {
    margin-top: inherit;
  }

  .button {
    width: 45%;
  }

  .createCourse {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .courseDetails {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 50px;
  }

  .actions a {
    font-size: 16px;
  }

  /* UPDATE MEDIA QUERY  */

  .updateFormWrapper .button {
    width: 150px;
    height: 40px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .updateFormWrapper .btns {
    margin: 0 auto;
    width: 350px;
  }

  .updateFormWrapper {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  /* CREATE COURSE CSS */

  .formWrapper .btns {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .formWrapper .btns .button {
    width: 150px;
    margin-top: 0px;
    margin-right: 20px;
  }

  .formWrapper {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
